@media (min-width: 768px) {
  .contact-us {
    display: flex; /* Отображение блока контактов */
    gap: 16px; /* Расстояние между элементами */
  }

  .main {
    gap: 32px; /* Увеличенное расстояние */
  }

  .header_divider-first {
    display: block; /* Отображение разделителя */
  }

  .highlight {
    width: 4px; /* Ширина акцентной полосы */
    height: 40px; /* Высота акцентной полосы */
  }

  /* Отображение второго абзаца с ограничением в 2 строки */
  .block_information-text-second {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2; /* Макс. 2 строки */
  }

  .block_infomation-text-first {
    width: 100%; /* Полная ширина */
  }
  
  /* Изменение направления блока на горизонтальное */
  .main_block-first {
    flex-direction: row; /* Горизонтальное расположение */
    gap: 40px; /* Расстояние между колонками */
  }

  .main_block-information {
    width: 44%; /* Ширина текстовой колонки */
  }

  .information-text {
    gap: 26px; /* Увеличенное расстояние */
  }

  /* Стили для изображения */
  #picture {
    height: 100%; /* Высота 100% */
    object-fit: cover; /* Обрезка изображения */
    border-radius: 8px; /* Закругление углов */
  }

  .main_block-second {
    width: 50%;
    
  }
}
