@media (min-width: 1120px) {
  .header {
    display: none; /* Скрытие шапки */
  }

  .main {
    flex-direction: row; /* Горизонтальное направление */
    flex-wrap: wrap; /* Перенос элементов */
    justify-content: space-between; /* Распределение по ширине */
    gap: 8px; /* Расстояние между элементами */
  }

  .main_container {
    display: flex;
    flex-wrap: wrap; /* Перенос элементов */
    justify-content: space-between;
    width: 100%; /* Полная ширина */
    gap: 20px; /* Расстояние между элементами */
    padding-top: 42px; /* Отступ сверху */
  }

  .highlight {
    width: 3px; /* Ширина акцентной полосы */
    height: 40px; /* Высота акцентной полосы */
  }
  
  .main_title-name {
    justify-content: space-between; /* Распределение по ширине */
    gap: 27px; /* Расстояние между элементами */
  }

  /* Отображение кнопок сервисов */
  .main_services-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 12px; /* Отступ справа */
  }
   .main_slide_button {
    display: flex;
    width: max-content;
    padding-left: 25px;
    padding-bottom: 48px;
}

  .button-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background: none;
    padding-right: 25px; /* Отступ справа */
    cursor: pointer; /* Курсор при наведении*/
  }

  .button-item-text {
    padding: 8px 16px; /* Внутренние отступы */
    font-size: 16px; /* Размер шрифта */
    line-height: 24px; /* Высота строки */
    letter-spacing: -0.2px; /* Межбуквенное расстояние */
    font-family: TT Lakes; /* Шрифт */
    font-weight: 500; /* Обычное начертание */
    color: #1B1C21;
  }

  /*.main_slide_button-menu {
    width: 100%; /* Полная ширина 
  } 
  */

  .main_slide_button {
    flex-wrap: wrap; /* Перенос кнопок */
   /* width: 100%; */
  }

  /* Стилизация кнопок */
  .main_slide_button > button {
    box-sizing: border-box; /* Учет границ в размерах */
    margin: 0; /* Сброс отступов */
  }

  /* Перемещение последней кнопки */
  .main_slide_button > button:nth-child(6) {
    order: 1; /* Изменение порядка */
  }

  .main_block-first {
    gap: 36px; /* Расстояние между колонками */
  }

  .main_block-information {
    width: 50%; /* Половина ширины */
    padding-left: 34px; /* Отступ слева */
  }

  .information-text {
    gap: 26px; /* Расстояние между абзацами */
  }

  /* Отображение второго абзаца (7 строк) */
  .block_information-text-second {
    display: -webkit-box;
    line-clamp: 7;
    -webkit-line-clamp: 7; /* Макс. 7 строк */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .main_block-second {
    width: 50%; /* Половина ширины */
  }

  /* Стили изображения */
  #picture {
    padding-right: 37px; /* Отступ справа */
  }
}